{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="dark">
    <header>
        <img id="logo" src="{% static 'img/logosite1.png' %}" alt="Voxy" width="8%" height="8%"/>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="connection.html">Login</a></li>
                <li><a href="chatrooms.html">Chatrooms</a></li>
                <li><a href="support.html">Support</a></li>
            </ul>
        </nav>
    </header>
    <main class="violet">
    <div class="login-container">
        <h2>Connection</h2>
        <form id="login-form" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="form-buttons">
                <input type="submit" value="Log in" onclick="setFormAction('/login')" id="login">
                <input type="submit" value="Sign in" onclick="setFormAction('/signin')" id="signin">
            </div>
        </form>
        <a href="/forgot-password">Forgot password?</a>
        <script>
            function setFormAction(action) {
                document.getElementById('login-form').action = action;
            }
        </script>
    </div>
    </main>
    <footer>
        <p>&copy; 2023 Voxy. Tous droits réservés.</p>
    </footer>
</body>
</html>
