{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voxy - Chat en ligne</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- sert pour les boutons -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body id="body-login">
    <div class="barre-haut">
        <div class="box-logo">
            <a href="{% url 'users:index' %}">
                <img src="{% static 'img/logo_transparent.png' %}" alt="Logo de l'application">
            </a>
        </div>
        <div class="boutons-container">
          <a href="{% url 'users:login' %}" class="button">Login</a>
          <a href="{% url 'chatrooms:chatroom' %}" class="button">Chatrooms</a>
          <a href="" class="button">Help</a>
        </div>
      </div>
    <div id="container">
        <div class="ring">
            <i style="--clr:#460fc8;"></i>
            <i style="--clr:#a248d2;"></i>
            <i style="--clr:#491664;"></i>
            <div class="login">
                <h2>Login</h2>
                <form id="signup-form" method="post" action="{% url 'users:sign_up' %}">
                    {% csrf_token %}
                    
                    {# Afficher seulement le message d'aide global #}
                    {% if form.non_field_errors %}
                        <div class="error-message">{{ form.non_field_errors }}</div>
                    {% endif %}
                    
                    {% for field in form %}
                        <div class="form-field">
                            {{ field.label_tag }}
                            {{ field }}
                            <span class="help-text">{{ field.help_text }}</span>
                            {% for error in field.errors %}
                                <div class="error-message">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    <div class="form-buttons">
                        <input type="submit" value="Sign up" id="signup">
                    </div>
                </form>
                <form id="login-form" method="post" action="{% url 'users:log_in' %}">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <div class="form-buttons">
                        <input type="submit" value="Log in" id="login">
                    </div>
                </form>
                <a href="/forgot-password">Forgot password?</a>
            </div>
        </div>
       
    </div>
    <footer>
        <p>&copy; 2023 Voxy. Tous droits réservés.</p>
    </footer>
    <!-- TODO fix the scrollbarposition when launching the signup-->
</body>
</html>
