{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voxy - Chat en ligne</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- sert pour les boutons -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="chatroom">
    <div class="barre-haut">
        <div class="box-logo">
            <img src="{% static 'img/logo_transparent.png' %}" alt="logo de l'application" />
            <p>Voxy - Chat en ligne de père en fils</p>
        </div>
        <div class="boutons-haut">
            <button id="bouton-parametre">
                <!-- icone engrenage -->
                <i class="fa-solid fa-gears" title="Paramètres"></i>
            </button>
            <button id="bouton-aide">
                <!-- icone pour report un problème -->
                <i class="fas fa-bug" title="Rapporter un bug"></i>
            </button>
            <button id="bouton-changement-theme">
                <!-- icone lune -->
                <i id="icone-theme" class="fas fa-moon" title="Changer de thème"></i>
            </button>
            <button id="bouton-profil">
                <!-- icone profil -->
                <i id="icone-theme" class="fa-solid fa-circle-user" title="Profil"></i>
            </button>
        </div>
    </div>
    <div class="section-salons">
        <div class="salons-textuel">
            <div class="section-titre">
                <h2>Salons</h2>
            </div>
            <div class="ajouter-salon">
                <button>+</button>
                <div class="ajouter-salon-titre">Ajouter Salon</div>
            </div>
            <div class="encadre-salon">
                <h3>Salon 1</h3>
                <p>Description</p>
            </div>
            <div class="encadre-salon">
                <h3>Salon 2</h3>
                <p>Description</p>
            </div>
            <div class="encadre-salon">
                <h3>Salon 3</h3>
                <p>Description</p>
            </div>
            <div class="encadre-salon">
                <h3>Salon 4</h3>
                <p>Description</p>
            </div>
            <div class="encadre-salon">
                <h3>Salon 5</h3>
                <p>Description</p>
            </div>
        </div>
        <div class="section-chat">
            <div class="message-serveur">
                <!-- afficher les messages envoyer au serveur django -->
            </div>
            <div class="saisie-message">
                <input type="text" placeholder="Tapez votre message...">
                <button id="bouton-envoi">Envoyer</button>
            </div>
        </div>
        <div class="liste-utilisateurs">
            <div class="section-titre">
                <h2>Membres</h2>
            </div>
            <!-- Liste des membres-->
        </div>
    </div>
    <div class="barre-bas">
        <div class="pied-page">
            <p>© 2023 Voxy. Tous droits réservés.</p>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
