{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voxy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="barre-haut">
            <div class="box-logo">
                <a href="{% url 'users:index' %}">
                    <img src="{% static 'img/logo_transparent.png' %}" alt="Logo de l'application">
                </a>
            </div>
            <div class="boutons-container">
              <a href="{% url 'users:login' %}" class="button">Login</a>
              <a href="{% url 'chatrooms:chatroom' %}" class="button">Chatrooms</a>
              <a href="{% url 'help' %}" class="button">Help</a>
            </div>
          </div>
    </header>
    <main>
        <section class="section-1-index">
            <h1>Bienvenue sur Voxy</h1>
            <p>L'application de discussions en ligne</p>
        </section>
        <section class="forum">
            <h2>Dernières discussions</h2>
            <ul>
                <li>
                    <a href="{% url 'chatrooms:chatroom' chatroom_id=33 %}">Discussion 1</a>
                    <p>Auteur : <strong>{{chat_room.creator.username}}</strong></p>
                </li>
                <li>
                    <a href="{% url 'chatrooms:chatroom' chatroom_id=34 %}">Discussion 2</a>
                    <p>Auteur : {{chat_room.creator.username}}</p>
                </li>
                <li>
                    <a href="{% url 'chatrooms:chatroom' chatroom_id=35 %}">Discussion 3</a>
                    <p>Auteur : {{creator.username}}</p>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Voxy. Tous droits réservés.</p>
    </footer>
</body>
</html>